---
layout: default
current: page
class: page-template
disqus: false
---

<!-- < default -->
<!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {% if page.tags.size > 0 %}{% for tag in page.tags %} tag-{{ tag | slugify: "latin" }}{% endfor %}{% endif %} {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

        <header class="post-full-header">
            <h1 class="post-full-title">{{ page.title }}</h1>
        </header>

        {% if page.cover %}
        <figure class="post-full-image" style="background-image: url({{ site.baseurl }}{{ page.cover }})">
        </figure>
        {% endif %}

        <section class="post-full-content">
            <script src="../assets/js/sigma.min.js"></script>
            <script src="../assets/js/sigma.parsers.json.js"></script>
            <script src="../assets/js/sigma.forceatlas2.supervisor.js"></script>
            <script src="../assets/js/sigma.forceatlas2.worker.js"></script>
            <script src="../assets/js/sigma.plugins.dragNodes.js"></script>

            <div id="container" class="container">
                <style>
                    #graph-container {
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        position: absolute;
                        height: 300%;
                    }
                </style>
            </div>
            <div id="graph-container"></div>
            <script>
                const g = fetch('../assets/graphs/interests.json')
                    .then(response => response.json())
                    .then(it => {
                        it.nodes = it.nodes.map(node => {
                            node.x = Math.random()
                            node.y = Math.random()
                            return node
                        })
                        return it
                    }).then(it => {
                        console.log(it);
                        return it
                    })
                    .then(g => new sigma({
                        graph: g,
                        container: 'graph-container',
                        settings: {
                            defaultNodeColor: '#ec5148',
                            labelThreshold: 0,
                            sideMargin: 1,
                            maxNodeSize: 16
                        }
                    }))
                    .then(s => s.startForceAtlas2({worker: true, barnesHutOptimize: false}))
                    .then(s => {
                        sigma.plugins.dragNodes(s, s.renderers[0]);
                        return s
                    })
                    .then(s => setTimeout(() => {
                        s.stopForceAtlas2()
                    }, 100));

            </script>
        </section>

        </article>

    </div>
</main>

<!-- /post -->

<!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs -->
{% include page-scripts.html %}
